<!-- <button (click)="addToCart()">
  <span>
    <i class="fa fa-shopping-cart"></i>
  </span>
  
</button> -->
<!-- <div #details>
  <button class="continue btn btn-primary pull-xs-right" (click)="addToCart()">Add to Cart</button>
</div> -->



<form action="#" method="post" class="formAddToCart">
  <input type="hidden" name="id_product" value="1">
  <button (click)="addToCart()"  class="quick-view hidden-sm-down" data-link-action="quickview">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
  </button>
</form>