################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

AngularProject/client/node_modules/
