
<form class="container p-5 m-auto" style="width: 60%;">
  <h1 style="text-align: center; font-weight: 900;"> Add Product</h1>
    <div class="form-group">
      <label for="title_EN">Title In English </label>
      <input type="text" class="form-control" id="title_EN" [(ngModel)] = "productToAdd.title_EN">
    </div>
    <div class="form-group">
      <label for="title_AR">Title In Arabic </label>
      <input type="text" class="form-control" id="title_AR" [(ngModel)] = "productToAdd.title_AR">
    </div>
    <div class="form-group">
      <label for="details_EN">Details In English</label>
      <textarea class="form-control" id="details_EN" rows="3" [(ngModel)] = "productToAdd.details_EN"></textarea>
    </div>
    <div class="form-group">
      <label for="details_AR">Details In Arabic</label>
      <textarea class="form-control" id="details_AR" rows="3" [(ngModel)] = "productToAdd.details_AR"></textarea>
    </div>
    <div class="form-group">
      <label for="price">Price </label>
      <input type="number" class="form-control" id="price" [(ngModel)] = "productToAdd.price">
    </div>
    <div class="form-group">
      <label for="quantity">Quantity </label>
      <input type="number" class="form-control" id="quantity" [(ngModel)] = "productToAdd.quantity">
    </div>
    <div class="form-group">
      <label for="categoryl">Category</label>
      <select class="form-control" id="categoryl">
        <option value="t">test</option>
        <option *ngFor="let category of categoriesList">
          {{category.name}}
        </option>
      </select>
      <select name="dd" id="">
        <option value="ddd">{{categoriesList[0].id}}</option>
      </select>
      <input type="text" [value]="categoriesList[0].id">
    </div>

    <button type="submit" name="" id="" style="float: right;"
    class="btn btn-dark m-3 p-2 px-4"  (click)="AddProduct()">Add</button>
    
  </form>