/* You can add global styles to this file, and also import other style files */
/* .mat-slider-thumb {
	background-color: #AAAAAA !important;
}

.mat-slider-thumb-label {
	background-color: #AAAAAA !important;
}

.mat-slider-track-fill {
	background-color: #AAAAAA !important;
} */

