@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css");

.cborder {
  border: 1px solid black;
}

.invalid-data {
  color: #c80000;
  display: flex;
  justify-self: start;
}
