<div class="product-cart checkout-cart blog">
    <div class="main-content" id="cart">
        <!-- main -->
        <div id="wrapper-site">

            <div class="container">

                <div class="row">

                    <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onecol">
                        <section id="main">
                            <div class="cart-grid row">
                                <div class="col-md-9 col-xs-12 check-info">
                                    <!---------------------------Inner Filter------------------------------------>
                                    <div class="row filters">
                                        <div class="col-md-4">
                                            <form [formGroup]="form">
                                                <div class="form-group">
                                                    <label for="website">Select Filter Option:</label>
                                                    <select formControlName="website" class="form-control" (change)="FilterAllOrders($event)">
                                                        <option selected>Filter Option:</option>
                                                        <option *ngFor="let Op of FilterOn">{{Op}}</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-6 Text-dirc">
                                            <button class="showAll" (click)="ShowAllOrders()">Show All Orders</button>
                                        </div>
                                    </div>
                                    <!--------------------------- End Inner Filter------------------------------------>

                                    <!--------------------------- Show All Orders------------------------------------>

                                    <div class="cart-container" *ngIf="!IsFilterd">
                                        <div class="cart-overview js-cart">
                                            <div>
                                                <div *ngFor="let order of allOrders">

                                                    <div class="row orderContaine">

                                                        <div class="col-md-1 actions">
                                                            <div *ngIf="order.state==0" class="px-2">
                                                                <i class="fa fa-trash-o DeleteProduct" (click)='DeleteOrder(order.id)'></i>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-11 TabelHolder">
                                                            <div class=" main-title">
                                                                <label>Order details ({{order.orderProducts.length}}
                                                                    items)</label>
                                                                <span *ngIf="order.state==0" class="pending">Pending</span>
                                                                <span *ngIf="order.state==1" class="accepted">Accepted</span>
                                                                <span *ngIf="order.state==2" class="rejected">Rejected</span>

                                                            </div>

                                                            <table class="table">

                                                                <tbody>
                                                                    <tr *ngFor="let orderD of order.orderProducts">
                                                                        <td style="text-align: center;">
                                                                            <img height="100" width="100" class="img-fluid" src="assets/img/product/noImg.jpg" />
                                                                        </td>
                                                                        <td style="text-align: center;">
                                                                            <p>Product Name</p>
                                                                            <div *ngIf="!IsEnglish">
                                                                                {{orderD.product.title_AR}}</div>
                                                                            <div *ngIf="IsEnglish">
                                                                                {{orderD.product.title_EN}}</div>
                                                                        </td>

                                                                        <td style="text-align: center;">
                                                                            <p>Product Quantity</p>
                                                                            <div>{{orderD.product.quantity}}</div>
                                                                        </td>

                                                                        <td style="text-align: center;">
                                                                            <p> Product Price</p>
                                                                            <div> {{orderD.product.price}}</div>
                                                                        </td>
                                                                    </tr>

                                                                </tbody>
                                                                <div class="main-title">
                                                                    <label class="totalPrice">Total Price:
                                                                        {{order.totalPrice}}$</label>

                                                                </div>
                                                            </table>

                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center" *ngIf="allOrders.length === 0">
                                            <h4>There is no orders yet</h4>
                                            <img src="../../../assets/img/other/delver1.jpg" class="img-fluid">
                                        </div>
                                    </div>
                                    <!---------------------------End Show All Orders------------------------------------>

                                    <!--------------------------- Show Filtered Orders------------------------------------>
                                    <div class="cart-container" *ngIf="IsFilterd">
                                        <div class="cart-overview js-cart">

                                            <div>
                                                <div *ngFor="let order of FilterdData">

                                                    <div class="row orderContaine">

                                                        <div class="col-md-1 actions">
                                                            <div *ngIf="order.state==0" class="px-2">
                                                                <i class="fa fa-trash-o DeleteProduct" (click)='DeleteOrder(order.id)'></i>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-11 TabelHolder">
                                                            <div class=" main-title">
                                                                <label>Order details ({{order.orderProducts.length}}
                                                                    items)</label>
                                                                <span *ngIf="order.state==0" class="pending">Pending</span>
                                                                <span *ngIf="order.state==1" class="accepted">Accepted</span>
                                                                <span *ngIf="order.state==2" class="rejected">Rejected</span>

                                                            </div>

                                                            <table class="table">
                                                                <!-- <thead>
                                                                    <tr>
                                                                        <th style="text-align: center;" scope="col">
                                                                            Product
                                                                            Title</th>
                                                                        <th style="text-align: center;" scope="col">
                                                                            Quntity
                                                                        </th>

                                                                        <th style="text-align: center;" scope="col">
                                                                            product
                                                                            Price</th>
                                                                    </tr>
                                                                </thead> -->
                                                                <tbody>
                                                                    <tr *ngFor="let orderD of order.orderProducts">
                                                                        <td style="text-align: center;">
                                                                            <img height="100" width="100" class="img-fluid" src="assets/img/product/noImg.jpg" />
                                                                        </td>
                                                                        <td style="text-align: center;">
                                                                            <p>Product Name</p>
                                                                            <div>{{orderD.product.title_EN}}</div>
                                                                        </td>

                                                                        <td style="text-align: center;">
                                                                            <p>Product Quantity</p>
                                                                            <div>{{orderD.product.quantity}}</div>
                                                                        </td>

                                                                        <td style="text-align: center;">
                                                                            <p> Product Price</p>
                                                                            <div> {{orderD.product.price}}</div>
                                                                        </td>
                                                                    </tr>

                                                                </tbody>
                                                                <div class="main-title">
                                                                    <label class="totalPrice">Total Price:
                                                                        {{order.totalPrice}}$</label>

                                                                </div>
                                                            </table>

                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="text-center" *ngIf="FilterdData.length === 0">
                                                <h4>There is no orders yet</h4>
                                                <img src="../../../assets/img/other/delver1.jpg" class="img-fluid">
                                            </div>

                                        </div>
                                    </div>

                                    <!---------------------------End Show Filtered Orders------------------------------------>
                                </div>
                                <div class="cart-grid-right col-xs-12 col-lg-3">
                                    <!-- <div class="cart-summary">
                                        <div class="cart-detailed-totals">
                                            <div class="cart-summary-products">
                                                <div class="summary-label">There are 3 item in your cart</div>
                                            </div>
                                            <div class="cart-summary-line" id="cart-subtotal-products">
                                                <span class="label js-subtotal">
                                                    Total products:
                                                </span>
                                                <span class="value">£200.00</span>
                                            </div>
                                            <div class="cart-summary-line" id="cart-subtotal-shipping">
                                                <span class="label">
                                                    Total Shipping:
                                                </span>
                                                <span class="value">Free</span>
                                                <div>
                                                    <small class="value"></small>
                                                </div>
                                            </div>
                                            <div class="cart-summary-line cart-total">
                                                <span class="label">Total:</span>
                                                <span class="value">£200.00 (tax incl.)</span>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
